/* Estilo do título principal da apresentação */
h1 {
  color: blue;
  font-size: 24px;
}

/* Estilo do título "Perguntas" */
h2 {
  color: rgb(166, 255, 0);
  font-size: 24px;
}

/* Estilo que padroniza TODAS as suas perguntas de h3 até h6 */
h3, h4, h5, h6 {
  color: rgb(45, 87, 61);
  font-size: 24px;
}

/* A classe que criamos para substituir o antigo h7 */
.texto-destaque-rosa {
  color: rgb(255, 0, 255);
  font-size: 25px;
  font-weight: bold;
}

/* Estilo para todos os parágrafos do seu site */
p {
  color: rgb(31, 28, 28);
  font-size: 19px;
}

