*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial, sans-serif;

background:#1e1e24;

color:white;

max-width:800px;

margin:auto;

padding:30px;

text-align:center;

}



.apresentacao{

background:#2d2d38;

padding:25px;

border-radius:15px;

margin-bottom:30px;

}



h1{

color:#b20ae6;

margin-bottom:15px;

}



h2{

color:#f1c40f;

margin-bottom:25px;

}



p{

font-size:18px;

line-height:1.5;

}



img{

width:220px;

height:220px;

object-fit:cover;

border-radius:50%;

border:5px solid #f1c40f;

margin-top:20px;

}



.quiz{

background:#292933;

padding:30px;

border-radius:15px;

}



#pontuacao{

font-size:25px;

font-weight:bold;

color:#00ff99;

}



#tempo{

color:#00d9ff;

font-size:22px;

font-weight:bold;

}



#quiz-box{

margin-top:30px;

background:#383844;

padding:25px;

border-radius:15px;

}



h3{

color:#ffd43b;

margin-bottom:25px;

}



button{

background:white;

color:#222;

border:none;

padding:12px 25px;

margin:10px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

font-size:16px;

transition:.3s;

}



button:hover{

background:#f1c40f;

transform:scale(1.05);

}



button:disabled{

background:#777;

color:white;

cursor:not-allowed;

transform:none;

}



#opcoes button{

display:block;

width:80%;

margin:10px auto;

}



#resultado{

font-size:22px;

font-weight:bold;

margin:25px;

}



@media(max-width:600px){

button{

width:90%;

}

}
